.ChatMain
  .MainHeader
    .MainHeader__group
      %p.MainHeader__group__name
        = @group.name
      %ul.MainHeader__group__members
        Member：
        %li.MainHeader__group__membersList
          - @group.users.each do |user|
            = user.name

    = link_to edit_group_path(@group), class:"Edit" do
      Edit
  .MessageField
    = render @messages
  .Form
    = form_with model: [@group, @message], html: {class: "NewMessage"}, local: true do |f|
      .InputBox
        = f.text_field :content, class: 'InputBox__text', placeholder: 'type a message'
        = f.label :image, class: 'InputBox__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'InputBox__image__file'
      = f.submit 'Send', class: 'SubmitBtn'